<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora Posts</title>
</head>
<body>
    <h1>Posts</h1>
    <form action="/posts/new">
        <button>Add Post</button>
    </form>
  <%  for(let post of posts){ %>
        <div class="post">
        <h2>Username : <%= post.username %> </h2>
        <h3>Title : <%= post.title %> </h3>
        <h3>Description : <%= post.description %> </h3>
        </div>
        <br> <hr>
 <%   } %>
</body>
</html>